.verde {
    color: greenyellow;
}

.rojo {
    color: red;
}

.azul {
    color: blue;
}

/* ID */
#rojo {
    color: blue;
}

.bg-rojo {
    background-color: red;
}

.bg-cafe {
    background-color: brown;
}

.bg-amarillo {
    background-color: yellow;
}

.bg-rosado {
    background-color: pink;
}

.bg-azul {
    background-color: blue;
}

.bg-verde {
    background-color: green;
}